version: '{build}'
image: Visual Studio 2015
platform:
- x64
environment:
  global:
    MSSdk: 1
  matrix:
  - PYTHON: 36
install:
- cmd: '"%VS140COMNTOOLS%\..\..\VC\vcvarsall.bat" %PLATFORM%'
- cmd: git config core.symlinks true
- cmd: git reset --hard
- ps: |
    if ($env:PYTHON) {
      if ($env:PLATFORM -eq "x64") { $env:PYTHON = "$env:PYTHON-x64" }
      $env:PATH = "C:\Python$env:PYTHON\;C:\Python$env:PYTHON\Scripts\;$env:PATH"
      # pip install --disable-pip-version-check --user --upgrade pip setuptools six
      python.exe -m pip install --disable-pip-version-check --user --upgrade pip setuptools six
    } elseif ($env:CONDA) {
      if ($env:CONDA -eq "36") { $env:CONDA = "" }
      if ($env:PLATFORM -eq "x64") { $env:CONDA = "$env:CONDA-x64" }
      $env:PATH = "C:\Miniconda$env:CONDA\;C:\Miniconda$env:CONDA\Scripts\;$env:PATH"
      conda config --set always_yes yes --set changeps1 no
      conda config --add channels conda-forge
      conda update -q conda
      conda install -q conda-build
    }
build_script:
- ps: cd python_bindings
- cmd: |
    pip install -r requirements.txt
    python setup.py bdist_wheel
    pip wheel --no-deps --wheel-dir=wheelhouse/ . 
   
- ps: dir ./wheelhouse
skip_tags: true
artifacts:
- path: ./wheelhouse/**
  name: dists
  type: WebDeployPackage
#test_script:
#- cmd: python setup.py test
